:host {
  position: fixed;
  display: block;
  top: 60px;
  width: 100%;
}

.search-block {
  display: flex;
  background: #e2e2e2;
  padding: 15px;
}

input {
  font-size: 18px;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background: #fff;
  border-radius: 0;
  box-shadow: 0px 8px 15px #4b48481a;
  transition: all 0.4s ease;
}

input:focus {
  outline: none;
  box-shadow: 0px 9px 20px #4b48484d;
}
