li {
  background: #fff;
  padding: 15px 20px;
  margin: 15px 25px;
  box-shadow: 0px 8px 15px #4b48481a;
  transition: all 0.4s ease;
}

li:hover {
  box-shadow: 0px 9px 20px #4b48484d;
}

li h1,
li h4 {
  margin: 0;
}

li p {
  margin: 0;
  font-size: 16px;
}

li div {
  display: inline-block;
}

li div#population {
  float: right;
  text-align: center;
}

#country h1 {
  color: #2196f3;
}

#country #capital {
  font-weight: 700;
}

#country #region {
  color: #848484;
}

#population h4 {
  color: #9e9e9e;
}

#population p {
  font-size: 24px;
}
