<li>
  <div id="country">
    <h1>{{ country.name }}</h1>
    <p>
      <span id="capital">{{ country.capital }}</span>,
      <span id="region">{{ country.subregion }}</span>
    </p>
  </div>
  <div id="population">
    <h4>Population</h4>
    <p>{{ country.population }}</p>
  </div>
</li>
